@using Mission11_Klepacz.Models.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

@model BooksListViewModel

@foreach (Book b in Model.Books)
{
    <partial name="BookInfo" model="b" />
}

<div page-model="@Model.PaginationInfo" page-action="Index" page-class-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m1"></div>